---
layout: default
type: home
title: Great to having you here!
---

<!--
Every section you see here in the website homepage are included here.
All these included files are found inside '_includes' folder.
You can edit them there.
 -->

<p>
  I've always been passionate about life, savouring each season’s unique opportunities to learn, grow, and transform myself and my surroundings.
</p>

<p>
  For seven fulfilling years, I dedicated myself to the world of healthcare as a nurse and organ transplant program coordinator. The complexities of medical care and my interest in process improvement and making care safer fueled my curiosity. Then, about two years back, I took a leap into the dynamic world of data science to join the brilliant minds shaping our future through data.  
</p>

<p>
  With a results-oriented mindset and solid adaptability, I'm ready to explore new horizons and make a profound impact as a data scientist, leveraging my diverse background and technical proficiency to foster innovation and drive positive change in healthcare and beyond.  
</p>

<p>
  I invite you to explore my portfolio, connect with me on social media, and reach out for opportunities to collaborate and create a brighter future together.
</p>

{% include radar.html %}
{% include stackchart.html %}

{% include projects.html %}

<p>
  My projects encompass a wide range of data tools, all aimed at showcasing my diverse set of data skills. As you delve into my work, you'll discover tangible evidence of my proficiency in data exploration, manipulation, visualization, analysis, and predictive modeling.

  While health remains my favorite domain, I relish the opportunity to work with data across various fields. I believe that every dataset presents a chance to learn and fuel my creativity, making every project an exciting endeavor.
</p>

{% include blogs.html %}

<p>
  My journey of transition has been a remarkable adventure filled with invaluable experiences and lessons. Along the way, I've been fortunate to receive valuable advice from many individuals who generously shared their own insights and knowledge with me. This is why I believe in the power of sharing my own thoughts and story as a means to spread the positivity and wisdom I've gathered, benefiting even more people. Enjoy reading some of my articles, where I strive to maintain my authenticity and spirit in every word.
</p>

